[submodule "NLayer"]
	path = NLayer
	url = https://github.com/TechPizzaDev/NLayer
[submodule "NVorbis"]
	path = NVorbis
	url = https://github.com/TechnologicalPizza/NVorbis
[submodule "Jack"]
	path = Jack
	url = https://github.com/Beyley/JackCS
